
body{
    margin: 0;
}
p{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 35%;
    margin: 5%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
    font-weight: 500;
}
h4{
    font-family: 'Poppins', sans-serif;
}
.radis-color{
    color: #FF8367;
}
.link-button{
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
.blue-font-color{
    color: #363958;
}

.one-third{
    box-shadow: 5px 5px 20px gray;
    border-radius: 15px;
    background-color: white;
    background-position: center;
    height: 60%;
    width: 25%;
    margin: 2%;
    padding: 2%;
    float: left;
}
.one-third img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin: 0px 80px;
}
.third-sec h2{
    text-align: center;
    font-size: 50px;
}
.third-sec{
    background-color: whitesmoke;
    margin: 100px 0px;
    padding: 100px;
}
.fourth-sec{
    background-image: url(images/Group_33094_1.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}
.web-items{
    float: right;
    display: flex;
    padding-right: 5%;
}
.web-items h4{
    padding-right: 50px;
    font-weight: 500;
}
#left-item{
    position: relative;
    left: 280px;
    top: 210px;
    color: white;
}
#right-item{
    position: relative;
    left: 750px;
    top: 100px;
}
.fifth-sec{
    text-align: center;
    height: 200px;
}
.fifth-sec img{
    width: 3%;
    padding-left: 20px;
}
.fifth-sec h3{
    color: gray;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.fifth-sec h2{
    color: #363958;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
}